*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html,body{
    height: 100%;
    width: 100%; 
}

#main{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #232323, #3a3a3a, #525252);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cursor{
    height: 20px;
    width: 20px;
    background-color: white;
    mix-blend-mode: difference;
    border-radius: 50%;
    position: absolute;
    transition: all 0.2s linear;
}

h1{
    font-size: 9vw;
    font-weight: 900;
}